Import Pandas for working with data

In [58]:
import pandas as pd
from pandas import DataFrame
import dateutil.parser as parser

Read in CSV file

In [59]:
 df=pd.read_csv('sv.csv')

In [60]:
print df

      Company   Month  New Employess
0       Hooli  Jan-14            450
1       Hooli  Feb-14            200
2       Hooli  Mar-14            -30
3  Pied Piper  Jan-14              1
4  Pied Piper  Feb-14              2
5  Pied Piper  Mar-14             10
6      Raviga  Jan-14             20
7      Raviga  Feb-14             10
8      Raviga  Mar-14             -1

In [64]:
# Make sure date is rendered correctly. 
df['Month'] = pd.to_datetime(df['Month'])

In [65]:
#date type check 
print df.dtypes

Company                  object
Month            datetime64[ns]
New Employess             int64
dtype: object

In [68]:
print df.groupby(by=['Company','Month']).sum().groupby(level=[0]).cumsum()

                       New Employess
Company    Month
Hooli      2015-01-14            450
           2015-02-14            650
           2015-03-14            620
Pied Piper 2015-01-14              1
           2015-02-14              3
           2015-03-14             13
Raviga     2015-01-14             20
           2015-02-14             30
           2015-03-14             29