##Import Pandas for working with data

In [84]:
import pandas as pd
from pandas import DataFrame
import dateutil.parser as parser

##Read in CSV file

In [103]:
 df=pd.read_csv('sv.csv')

In [104]:
print df

      Company   Month  New Employess
0       Hooli  14-Jan         123456
1       Hooli  14-Feb           1434
2       Hooli  14-Mar           2455
3  Pied Piper  14-Jan              1
4  Pied Piper  14-Feb              2
5  Pied Piper  14-Mar              2
6      Raviga  14-Jan             50
7      Raviga  14-Feb             48
8      Raviga  14-Mar             65

##Make sure date and number values are rendered correctly from CSV file

In [105]:

df['Month'] = pd.to_datetime(df['Month'])
df.convert_objects(convert_numeric=True)

      Company      Month  New Employess
0       Hooli 2015-01-14         123456
1       Hooli 2015-02-14           1434
2       Hooli 2015-03-14           2455
3  Pied Piper 2015-01-14              1
4  Pied Piper 2015-02-14              2
5  Pied Piper 2015-03-14              2
6      Raviga 2015-01-14             50
7      Raviga 2015-02-14             48
8      Raviga 2015-03-14             65

##check each column's datatype

In [106]:

print df.dtypes

Company                  object
Month            datetime64[ns]
New Employess           float64
dtype: object

In [108]:
print df.groupby(by=['Company','Month']).sum().groupby(level=[0]).cumsum()

                       New Employess
Company    Month
Hooli      2015-01-14         123456
           2015-02-14         124890
           2015-03-14         127345
Pied Piper 2015-01-14              1
           2015-02-14              3
           2015-03-14              5
Raviga     2015-01-14             50
           2015-02-14             98
           2015-03-14            163